<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Félix</title>
    <link rel="stylesheet" href="app.css">
    <script src="../vue.js"></script>
</head>
<body>
    <div id="body">
        <h1>Hola {{ "juan " + "Andrés" | uppercase }}</h1>
        <h1>{{ "hola Juan " + "Andrés" | capitalize }}</h1>
        <h2>{{ 25 * 4 }}</h2>
        <h3 v-if="15>5">Esto es un heading 01</h3>
        <h3 v-if="15>50">Esto es un heading 02</h3>
        <h4 v-if="autentificado">Autentificado</h4>
        <p :class="clase">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus tenetur, ipsam nihil quasi natus harum unde dolore dolor. Fugiat autem quisquam dignissimos sint, saepe itaque blanditiis facere non illo laborum.</p>

        <a v-bind:href="direccion" @click="accion" target="_blank">Esto es un enlace</a>
    </div>
    
    <script src="app.js"></script>
</body>
</html>