<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue | Transiciones</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <script src="../vue.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>{{ mensaje }}</h1>
                <hr>
                <input type="text" class="form-control" v-model="mensaje">
                <hr>
                <input type="checkbox" id="checkbox" v-model="chequeado"> 
                <label for="checkbox"> {{ chequeado }}</label>
                <hr>
                <input type="radio" id="one" value="Vue.js" v-model="radio">
                <label for="one">Vue.js</label>
                <br>
                <input type="radio" id="two" value="Angular.js" v-model="radio">
                <label for="two">Angular.js</label>
                <br>
                <span>Respuesta: {{ radio }}</span>
            </div>
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>