<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS Bim</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="body">
        {{ nuevaTarea }} <br><br>
        <input type="text" v-model="nuevaTarea" placeholder="Introduce tarea" />
        <input type="button" value="Añadir tarea" @click="guardarTarea(nuevaTarea)">
        
        <h4>Tareas</h4>
        <ul>
            <li v-for="tarea in tareas">{{ tarea.nombre }}</li>
        </ul>

        <pre>
            {{ $data | json }}
        </pre>
    </div>

    <script>
        new Vue({
            el: '#body',
            data: {
                nuevaTarea: '',
                tareas : [
                    {nombre: 'Hacer la compra'},
                    {nombre: 'Grabar episodio'},
                    {nombre: 'Editar episodio'},
                ]
            },
            methods: {
                guardarTarea: function (tarea) {
                    this.tareas.push({nombre: tarea});
                    this.nuevaTarea = '';
                }
            }
        })
    </script>
</body>
</html>