<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue | Transiciones</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Inicio navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Todo App</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li v-if="!autentificado">
                        <a @click="conectar()" href="#">Conectar</a>
                    </li>

                    <li v-if="autentificado" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user"></span> 
                            <strong>{{ usuarioActivo.displayName }}</strong>
                            <span class="fa fa-chevron-down"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <img :src="usuarioActivo.photoURL">
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong>{{ usuarioActivo.displayName }}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a @click="desconectar()" href="#" class="btn btn-danger btn-block">
                                                    Cerrar Sesion
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Fin navbar -->

    <div class="container">
        <todo-list :tareas="tareas"></todo-list>
    </div>
    <pre>{{ $data | json }}</pre>
    
    <template id="todo-template">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-5 col-lg-offset-3 col-lg-5">
            <h2>ToDo App</h2>
            <!-- Formulario -->
            <form @submit.prevent="agregarTarea(nuevaTarea)"
                  class="form">
                <div class="input-group">
                    <input v-model="nuevaTarea"
                           type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="submit"><span
                                    class="fa fa-plus"></span> Añadir tarea</button>
                      </span>
                </div>
            </form>
            <!-- Listado de tareas -->
            <ul class="list-group">
                <li v-for="tarea in tareas"
                    class="list-group-item clearfix">
                    <p class="lead" :class="{completado: tarea.completado}">
                        {{ tarea.titulo }}
                    </p>
                    <input v-model="tarea.titulo" v-show="editandoTarea === $index"
                        @blur="editandoTarea = null, editarTarea(tarea)"
                        type="text" class="form-control">
                    <br>
                    <div>
                        <span class="pull-right">
                            <button
                                class="btn btn-default btn-xs" @click="editandoTarea = $index">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button v-show="editandoTarea === $index"
                                @click="editandoTarea = null, editarTarea(tarea)"
                                class="btn btn-default btn-xs">
                                <span class="fa fa-floppy-o"></span>
                            </button>
                            <button @click="actualizarEstadoTarea(true, tarea)"
                                class="btn btn-primary btn-xs">
                                <span class="fa fa-check"></span></button>
                            <button @click="actualizarEstadoTarea(false, tarea)"
                                class="btn btn-primary btn-xs">
                                <span class="fa fa-repeat"></span>
                            </button>
                            <button @click="eliminarTarea(tarea)"
                                    class="btn btn-danger btn-xs">
                                <span class="fa fa-remove"></span>
                            </button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </template>
    
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="../vue.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
    <script src="js/main.js"></script>
</body>
</html>